[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
loguru = "*"
html5lib = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3.6"
